@media only screen and (min-width: 320px) and (max-width: 800px){

    .menu{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .menu h1{
        
    }

    .menu ul{
        flex-wrap: wrap;
    }

    .integrantes{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .objetivo, .requisitos, .diagrama, .implementacao{
        margin: 1rem;
    }

    .diagrama div img{
        width: 13rem;
        margin: 1rem;
    }
}