*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

header{
    background-image: url(./img/foto1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.menu h1{
    height: 10rem;
    width: 100%;
    font-size: 3.5rem;
    font-weight: bolder;
    text-shadow: 5px 5px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu li{
    width: 17.5rem;
    text-align: center;
    text-shadow: 5px 5px 20px black;
    list-style: none;
    height: 3rem;
}

.menu a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px black;
    transition: 1s all;
}

.menu a:hover{
    font-size: 1.8rem;
    color:rgb(226, 140, 11);
    transform: scale(1.1);
}

main{
    background: linear-gradient(to top, #f8b500, #fceabb);
}

.integrantes_grupo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.integrantes_grupo h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 5rem;
    text-shadow: 5px 5px 20px black;
}

.integrantes{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    text-align: center;
    width: 80%;
    transition: 1s all;
}

.integrantes:nth-child(even){
    flex-direction: row-reverse;
}

.integrantes:hover{
    transform: scale(1.1);
}

.integrantes h3{
    font-size: 1.7rem;
    margin: 1rem;
}

.integrantes p{
    font-size: 1rem;
    padding: 1rem;
    line-height: 2rem;
}

.integrantes img{
    border-radius: 10px;
    width: 10rem;
    object-fit: cover;
    margin: 1rem;
}

.detalhes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.seta{
    width: 4rem;
}

.objetivo, .requisitos, .diagrama, .implementacao{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    text-align: center;
    margin: 2rem;
}

.objetivo h2, .requisitos h2, .diagrama h2, .implementacao h2{
    font-size: 2.5rem;
    margin: 2rem;
    text-shadow: 5px 5px 20px black;
}

.objetivo p, .requisitos p, .diagrama p, .implementacao p{
    font-size: 1.3rem;
    margin: 1.5rem;
    line-height: 2rem;
}

.diagrama div img{
    border: solid black;
    border-radius: 10px;
    margin: 3rem;
}

footer{
    text-align: center;
    height: 3rem;
}

footer svg{
    width: 1rem;
}